<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.0.0" targetFramework="net46" />
  <package id="GeoAPI" version="1.7.2" targetFramework="net46" />
  <package id="IdGen" version="2.0.3" targetFramework="net46" />
  <package id="IronPython" version="2.7.5" targetFramework="net46" />
  <package id="NetTopologySuite" version="1.13.2" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net46" />
  <package id="WeifenLuo.WinFormsUI.Docking" version="2.1.0" targetFramework="net46" />
</packages>